.film {
  display: flex;
  flex-direction: column;
  padding-right: 250px;
  min-height: 100vh;

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 24px;
    border-radius: 8px;
    background-color: #0050ff;
    color: #fff;
    font-weight: 300;
    font-size: 16px;

    &_modal {
      align-self: flex-start;
    }
  }

  &__buy {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__type {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .01em;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 34px;
    font-weight: 800;
  }

  &__country {
    font-size: 13px;
    color: #000000b8;
  }

  &__information {

  }

  &__description {
    padding-top: 20px;
    white-space: pre-wrap;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 30px;
  }

  &__subtitle {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #0000000f;
    font-size: 14px;
    color: #000;
  }

  &__labels {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__label-title {
    color: #000000b8;
    font-size: 13px;
  }

  &__label-value {
    color: #000;
    font-size: 13px;
  }
}